h2 {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
}

ul {
    margin-bottom: 0 !important;
}

.btn {
    margin-right: 20px;
    margin-top: 20px;
}

.arrow {
    cursor: pointer;
    border: none;
    background: none;
    color: white;
}

.icon {
    background: none;
}

.icon--selected {
    background: rgba(255,255,255,0.2);
}
